html,body,
div#root{
  height: 100%!important;
}

div#root{
  background:url(../images/bg.jpg);
  background-size: contain;
  background-color: rgba(255,255,255,.6);
  background-blend-mode: soft-light;
}

div.heading{
  background-color:#00000011;
  padding: 10px 20px;
  font-size: 20px;
  color: #000;
}

div.box{
  background-color: #ffffff71;
  border: 1px Solid #888;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}

.btn-es{
  background-color: #323ea78c;
  color: #ffffff;  
}

.room.box .bar{
  background-color: #323ea78c;
  color: #ffffff;  
  padding: 10px;
  margin: -20px;
}

.clickableRooms{
  cursor: pointer;  
}

.clickableRooms:hover{
  background-color: #ffffff;
}

div.box.bgblack{
  background-color:rgba(94, 93, 93, 0.781);
  color: #fff;
}

div.timebar{
  position:fixed;
  z-index: 999;
  bottom: 5px;  
  left: 2px;
  border-radius: 10px;
  background-color: #ddd;
  border: 1px Solid #888;
  padding: 5px 10px;    
}

div.timebar span.fa{
  font-size: 25px !important;  
  margin: 2px 5px;
}

div.timebar span.ticker{      
  font-weight: bold;
  font-size: 20px;
}

div.timebar .fa-pause-circle-o, div.timebar .helpbtn{
  cursor: pointer;
}

span.sep{
  min-width:1px;
  border:1px Solid #888;
  margin: 0px 10px 5px 5px;
}


div#pauseTimer{
  vertical-align: middle;
  text-align: center;
  position:absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left: 0px;
  background-color: #00000099;
  color: #fff;  
}

div#pauseTimer .ticker{
  font-size: 100px;
  margin-top: -40px;
}

div#pauseTimer button{
  margin-top: 40px;
}

div#window-help, 
div#window-complete{
  display:none;
  vertical-align: top;
  text-align: center;
  position:absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left: 0px;
  background-color: #444444;
  color: #aaa;  
}

p.complete-text{
  font-size: 20px !important;
}

.bluecheck{  
  width: 20px;
  height: 20px;
}